{% extends 'layout.html.twig' %}
{% block title %}Liste - {{parent()}}{% endblock %}
{% block content %}
  <div class="container">
    <h1 class="display-1">Qui es tu ?</h1>

    <a href="{{ url('/administrateurs/index') }}" class="btn btn-primary m-4">Administrateur</a>

    <a href="{{ url('/createurs') }}" class="btn btn-primary m-4">Créateur</a>
  

  </div>

{% endblock %}
