{% extends 'layout.html.twig' %}
{% block title %}Inscription d'un administrateur - {{ parent }}{% endblock %}
{% block content %}
 <main class="container">
    <h1>Ajouter un avatar</h1>
    <form action="{{ url('/adiministrateurs/ajouter') }}" method="post" class="w-50" enctype="multipart/form-data">
      <div class="mb-3">
        <label class="form-label">Email <span class="required-info">*</span> :</label>
        <input name="email" type="email" class="form-control" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Mot de passe <span class="required-info">*</span> :</label>
        <input name="password" type="password" class="form-control w-50" required>
      </div>
      <p class="text-danger fs-6">Les données marquées d'une astérisque sont obligatoires.</p>
      <button type="submit" class="btn btn-primary">Ajouter ce nouvel avatar</button>
      <a href="{{ url('/') }}" class="btn btn-link text-black">annuler</a>
    </form>
  </main>
  {% endblock %}

  