{% extends 'layout.html.twig' %}
{% block title %}Liste - {{parent()}}{% endblock %}
{% block content %}
  <div class="container">
    {# {% if administrateurs %} #}
    <h1 class="display-1">Inscription ou Connexion</h1>

    <a href="{{ url('/createurs/ajouter') }}" class="btn btn-primary m-4">Inscription</a>
    <a href="{{ url('/createurs/login') }}" class="btn btn-primary m-4">Connexion</a>
    <a href="/ReignsWebapp/public" class="btn btn-primary btn-lg">Revenir sur la page d'accueil</a>


{# 
    {% endif %} #}

  </div>

{% endblock %}
